In [1]:
import pandas as pd
import numpy as np
import random

In [8]:
INFILE = '/Users/klogg/Desktop/maddock_family_email_2024.csv'
OUTFILE = '/Users/klogg/Desktop/maddock_family_email_2024_assignments.csv'

df = pd.read_csv(INFILE)

In [9]:
df = df.loc[df['Name'] != 'Sophie'].reset_index(drop=True)
df

,Name,Family Group,Email,Second Email,Gave to 2019,Gave to 2020,Gave to 2021,Gave to 2022,Gave to 2023
0,Oma,1,margot.maddock@gmail.com,NaN,Sue,Sophie,NaN,Charlotte,Jamie
1,Kathy,2,kamaddock@gmail.com,kmaddock@sprise.com,Charlotte,Charlotte,NaN,John,Jenna
2,Lily,2,lilyskis.fh77@gmail.com,NaN,Sophie,Jamie,NaN,Jim,Sue
3,Leo,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Betsy,3,e.dillon@neu.edu,NaN,Jim,Sue,Jim,Lily,Oma
5,John,3,j.dillon@snet.net,NaN,Jamie,Sam,Jenna,Jamie,Jim
6,Charlotte,3,charlotte.e.dillon@gmail.com,NaN,Jenna,Jenna,NaN,Sue,Kathy
7,Sam,3,sam.szuflita@gmail.com,NaN,Boz,Jim,NaN,Jenna,Lily
8,Jamie,4,smaddock@xcplanet.com,NaN,John,John,John,Kathy,Charlotte
9,Sue,4,sue@xcplanet.com,NaN,Betsy,Margot,Charlotte,Oma,John
10,Jim,4,jim.maddock.91@gmail.com,NaN,Kathy,Betsy,NaN,Sam,Betsy
11,Jenna,4,jmmaddock15@gmail.com,NaN,Lily,Lily,Lily,Betsy,Sam

In [10]:
while True:
    reshuffle = False
    df['Gives To'] = df['Name'].sample(frac=1).reset_index(drop=True)
    for i,x in df.iterrows():
        if x['Gives To'] == x['Name']:
            reshuffle = True
            break
        elif x['Family Group'] == df.loc[df['Name'] == x['Gives To']]['Family Group'].values[0]:
            reshuffle = True
            break
        elif x['Gave to 2023'] == x['Gives To']:
            reshuffle = True
            break
        elif x['Gave to 2022'] == x['Gives To']:
            reshuffle = True
            break
        elif x['Gave to 2021'] == x['Gives To']:
            reshuffle = True
            break
    if not reshuffle:
        break
        
df

,Name,Family Group,Email,Second Email,Gave to 2019,Gave to 2020,Gave to 2021,Gave to 2022,Gave to 2023,Gives To
0,Oma,1,margot.maddock@gmail.com,NaN,Sue,Sophie,NaN,Charlotte,Jamie,Lily
1,Kathy,2,kamaddock@gmail.com,kmaddock@sprise.com,Charlotte,Charlotte,NaN,John,Jenna,Jamie
2,Lily,2,lilyskis.fh77@gmail.com,NaN,Sophie,Jamie,NaN,Jim,Sue,Charlotte
3,Leo,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sam
4,Betsy,3,e.dillon@neu.edu,NaN,Jim,Sue,Jim,Lily,Oma,Sue
5,John,3,j.dillon@snet.net,NaN,Jamie,Sam,Jenna,Jamie,Jim,Leo
6,Charlotte,3,charlotte.e.dillon@gmail.com,NaN,Jenna,Jenna,NaN,Sue,Kathy,Jenna
7,Sam,3,sam.szuflita@gmail.com,NaN,Boz,Jim,NaN,Jenna,Lily,Jim
8,Jamie,4,smaddock@xcplanet.com,NaN,John,John,John,Kathy,Charlotte,Oma
9,Sue,4,sue@xcplanet.com,NaN,Betsy,Margot,Charlotte,Oma,John,Betsy
10,Jim,4,jim.maddock.91@gmail.com,NaN,Kathy,Betsy,NaN,Sam,Betsy,Kathy
11,Jenna,4,jmmaddock15@gmail.com,NaN,Lily,Lily,Lily,Betsy,Sam,John

In [11]:
df['Gives To']

0          Lily
1         Jamie
2     Charlotte
3           Sam
4           Sue
5           Leo
6         Jenna
7           Jim
8           Oma
9         Betsy
10        Kathy
11         John
Name: Gives To, dtype: object

In [12]:
df.to_csv(OUTFILE,index=False)